<!DOCTYPE html>

<html lang="pt-br">

<html>
    <head>
        <meta charset="utf-8">
        <title>Tela de Login</title>
        <link rel="stylesheet" href="/view/css/telaLogin.css">
        <script defer src="/view/js/telaLogin.js"></script>
    </head>
    <body>
        <nav class="menu">
            <div class="logo">
                <a href="/view/html/main.html"><img src="../Logo IBC Acarape 2023 (1).png" alt="logo"></a>
            </div>
            <ul>
                <li><a href="#"><img src="/view/favoritos.png" alt="favoritos"></a></li>
                <li><a href="#"><img src="/view/icons8-sacola-de-compras-50.png" alt=""></a></li>
                <li><a href="/view/html/main.html">Página inicial</a></li>
            </ul>
        </nav>
        <main>
            <form action="post" id="emailForm">
                <div class="login">
                    <h1>Bem-Vindo de Volta!</h1>
                    <div class="social-media">
                        <span class="enter"><a href="/view/html/telaLogin.html">Entrar</a></span>
                        <span class="subscribe"><a href="/view/html/telaSignUp.html">Inscrever-se</a></span>
                    </div>
                    <section class="container">
                        <input type="text" id="emailInput" placeholder="E-mail" required>
                        <input type="password" id="passwordInput" placeholder="Palavra-Passe" required>
                        <button type="submit">Entrar</button>
                    </section>
                    <span><input type="checkbox" id="rememberMe"> Lembra-me</span>
                </div>
                <div class="foot">
                    <span><a href="#">Não tem uma conta?</a></span>
                    <span><a href="#">Esqueceu a senha?</a></span>
                </div>
            </form>
        </main>
    </body>
</html>