body
{
    background: #283371;
}
.menu
{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    
}
.logo img
{
    width: 100px;
    position: absolute;
}
.menu ul
{
    display: flex;
    list-style: none;
}
.menu ul li
{
    margin: 14px;
}
.menu ul li a
{
    text-decoration: none;
    color: #eee;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.menu ul li a img
{
    width: 22px;
    background: #fff;
    border-radius: 20px;
    padding: 3px;
}
.menu ul li a:hover img
{
    background: grey;
    transition: .5s ease;
}
input, button
{
    background-color: rgb(231, 231, 231);
    color: #000000;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50px;
    margin-top: 30px;
    margin-left: 30px;
    border: none;
    outline: none;
}
.social-media
{
    display: flex;
    justify-content: space-between;
    background: #7c7c83;
    padding: 8px;
    padding-right: 60px;
    padding-left: 62px;
    border-radius: 10px;
    width: 200px;;
}
.social-media span a
{
    text-decoration: none;
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold; /*Negrito*/
}
.enter
{
    background: #283371;
    border-radius: 20px;
    padding: 10px;
    margin-left: -32px;
}
.subscribe
{
    padding: 10px;
    margin-right: -32px;
}
.subscribe:hover
{
    background: #283371;
    transition: .5s ease;
    border-radius: 20px;
    padding-left: 18px;
    padding-right: 18px;
}
form
{
    width: 20%;
    height: 455px;
    background-color: #c3c3c3;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 1px 10px 30px rgba(0, 0, 0, .3);
    border-radius: 35px;
    padding: 50px 100px;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
}
.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.container input
{
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.login button
{
    width: 100%;
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
    margin-left: -1px;
    border-radius: 10px;
    border: none;
    background: #283371;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
button:hover
{
    background: #1e3094;
    transition: .5s ease;
}
h1
{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1e3094;
    margin-bottom: 60px;
    margin-top: 30px;
}
span input
{
    margin-top: -8px;
    margin-bottom: 20px;   
    margin-right: 16px;
    margin-left: -10px;
}
span
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #7c7c83;
    font-weight: bold;
}
span a
{
    text-decoration: none;
    color: #283371;
    margin-right: 10px;
}