body
{
    background: #283371;
}
.menu
{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.logo img
{
    width: 100px;
}
.menu ul
{
    display: flex;
    list-style: none;
}
.menu ul li
{
    margin: 15px;
}
.menu ul li a
{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu ul li a img
{
    width: 30px;
    background: #fff;
    border-radius: 20px;
    padding: 1.5px;
}
input, button
{
    outline: none;
}
.social-media
{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    background: black;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}
.social-media span a
{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
main
{
    font-family: "Arial";
    background: #D9D6EF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    padding: 20px;
    padding-bottom: 25%;
    border-radius: 20px;
}
main form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.container input
{
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}
.container button
{
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background: #3123b5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #fff;
}
.container button:hover
{
    background: #283371;
}
.container span
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: -20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

main h1
{
    display: flex;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3123b5;
    margin-bottom: 20px;
    margin-top: 100px;
}